a.out
.vscode/
.cache/
build/
test/
config/port.txt
resource/
log/
test*
compile_commands.json
dev_tools/inspector
backup/
shinxbot
tests/function_bench/generated/
tests/function_bench/*_check_bench.cpp
tests/function_bench/*.bench.out
plugins/